 
body {background-color: #8c8c8c;}
.header {font-family: "Lato", sans-serif}
p {
color: WHite;
position: relative; 
    left: 1px;
	bottom: 1px;
}
h1 {
 color: White;
 position: relative; 
    left: 1px;	
       bottom: -30px;
}
.header {
       padding: 1px;
}
table, td, th {
 border: 2px solid black;
}
table {
 border-collapse: collapse;
 width: 100%;
}
 



th {
 height: 50px;
}
